@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeatureFlag = Context.Features.Get<ITrackingConsentFeature>();
    var showBannerFlag = !consentFeatureFlag?.CanTrack ?? false;
    var cookieStr = consentFeatureFlag?.CreateConsentCookie();
}

@if (showBannerFlag)
{
    <div id="cookieConsentdiv" class="required classes" style="margin-bottom: 9px;">
        <table class="table-responsive table-rec" style="background-color:transparent; border:none;table-layout:fixed;">
            <tr style="background-color:#80808017; border:none">
                <td>
                    Si prega di prendere visione dell'informativa sulla privacy e il trattamento dei dati personali
                    <a asp-area="" asp-controller="HomeUtente" asp-action="RecuperaPassword" alt="Esegue il recupero della password">Ulteriori Informazioni</a>.
                </td>
                <td>
                    <button type="button" class="accept-policy close" data-cookie-string="@cookieStr" style="font-size: 18px;">
                        <span aria-hidden="true">Accetta</span>
                    </button>
                </td>
            </tr>
        </table>


    </div>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#cookieConsentdiv button[data-cookie-string]").bind("click", function () {
                document.cookie = $("#cookieConsentdiv button").attr("data-cookie-string");
                $("#cookieConsentdiv").hide();
            });
        });
    </script>

}     