@model Modal

<div aria-hidden="true"  role="dialog" tabindex="-1"  class="modal fade">
    <div class="modal-dialog @Model.ModalSizeClass">
        <div class="modal-content">
        </div>
    </div>
</div>


