@using Publiparking.Web.Classes.Enumerator
@{
    var message = ViewBag.message;
    MessageTypeEnum Messagetype = (MessageTypeEnum)ViewBag.messageType;
}

@switch (Messagetype)
{
    case MessageTypeEnum.warning:
        <div id="div_error" class="alert alert-warning AlertCustom">
            <span class='glyphicon glyphicon-warning-sign'></span>
            <strong>Attenzione! </strong>@Html.Raw(message)
        </div>
        break;
    case MessageTypeEnum.error:
        <div id="div_error" class="alert alert-danger AlertCustom">
            <span class='glyphicon glyphicon-remove-sign'></span>
            <strong>Errore! </strong>@Html.Raw(message)
        </div>
        break;
    case MessageTypeEnum.success:
        <div id="div_error" class="alert alert-success AlertCustom">
            <span class='glyphicon glyphicon-ok-sign'></span>
            <strong></strong>@Html.Raw(message)
        </div>
        break;
    default:
    case MessageTypeEnum.info:
        <div id="div_error" class="alert alert-info AlertCustom">
            <span class='glyphicon glyphicon-info-sign'></span>
            <strong></strong>@Html.Raw(message)
        </div>
        break;
}