@{

    ViewData["Title"] = "Modalità di Pagamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="~/slick/slick.js" type="text/javascript"></script>

<style type="text/css">
    .slider-for {
        height: 100px;
        text-align: center;
        background: #ffffff;
        color: #000;
        padding-top: 35px;
        font-size: 24px;
    }

    .slider-nav h1 {
        display: inline-block;
        width: 100%;
        height: 80px;
    }

    .slider-nav .slick-slide {
        height: 80px;
        color: #fff;
        background: #007cba;
        cursor: pointer;
        text-align: center;
        margin: 0 10px;
    }
</style>


<div class="slider-nav">
    <div><h2>Modalità di Pagamento</h2></div>
    <div><h2>Parcheggi a Raso</h2></div>
    <div><h2>Parcheggi in Struttura</h2></div>
    <div><h2>Rimozione</h2></div>
    <div><h2>ZTL e Noleggio</h2></div>
</div>
<div class="slider-for">
    <div>
        <h2>Modalità di Pagamento</h2>
        <br />
        <p style="text-align:left; font-size:16px">
            - <strong>Monete</strong> (modalità ordinaria);<br />
            - <strong>Carta di Credito</strong>: l’utente inserisce la carta di credito, digita il PIN (se richiesto) e premendo il tasto blu sulla tastiera aggiunge minuti di sosta con incrementi di importi parametrizzabili (ad esempio € 0,50);<br />
            - <b>BLUPARKING CARD</b>: credito a scalare in modalità Real Time Parking (effettivo consumo tempo di sosta). La tessera è dotata di un microchip che memorizza l’orario di inizio sosta e, al termine della sosta, reinserendola nel parcometro, verrà calcolato l’importo detraendolo dal credito residuo.<br />
            - <strong>SMS</strong>: l’utente invia un messaggio dal telefono. Per accedere al servizio è necessario ritirare la scheda di attivazione presso lo sportello <strong>PUBLIPARKING</strong> e attivarla indicando il numero di telefono dal quale verrà inviato il messaggio. Il credito si può ricaricare direttamente dai parcometri;<br />
            - <strong>App &#8220;NÏNO&#8221; da smartphone</strong>: è la soluzione tecnologica proposta da <b>PUBLIPARKING</b> con cui l’account dell’utente si associa alla targa del veicolo.<br />
            - <strong>App &#8220;Phonzie&#8221;</strong>: una volta scaricata l’App per le piattaforme principali (IOS, Android, Windows, Blackberry), occorre specificare il numero di targa del veicolo, la tariffa in vigore e confermare l’operazione.<br />
            - <strong>App &#8220;Telepass Pay&#8221;</strong>: è la soluzione tecnologica proposta da Telepass. Inserire il numero di targa (che può essere quello associato al Telepass o uno nuovo) ed impostare la durata della sosta.
        </p>
        <p style="text-align:left"><strong>Ausiliario della Sosta</strong></p>
        <p style="text-align:justify; font-size:16px">Il controllo delle occupazioni viene effettuato da <b>PUBLIPARKING</b> con personale dedicato ed appositamente formato con qualifica di ausiliario della sosta. Ciascun addetto al controllo monitora il settore affidatogli con puntuale attività di verifica e di aggiornamento dell&#8217;occupazione degli stalli. Completata la prima fase di controllo trasferisce le informazioni al centro servizi tramite il tablet in sua dotazione. In caso di violazioni, l’operatore può stampare l’avviso di accertamento mediante la stampante termica in dotazione e può documentare fotograficamente il veicolo.</p>



    </div>
    <div><h2>Parcheggi a Raso</h2></div>
    <div><h2>Parcheggi in Struttura</h2></div>
    <div><h2>Rimozione</h2></div>
    <div><h2>ZTL e Noleggio</h2></div>
</div>
<script type="text/javascript">
    $('.slider-for').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        fade: true,
        asNavFor: '.slider-nav'
    });
    $('.slider-nav').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        asNavFor: '.slider-for',
        dots: true,
        centerMode: true,
        focusOnSelect: true
    });
</script>