@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_startPage.cshtml";
}
@*<h1>@ViewData["Title"]</h1>*@

<div class="row box-min-height">
    <div class="col-xs-10 col-md-10">
        <div class="col-md-12">
            <div class="box-border-min box-default">
                <div class="box-header with-border">
                    <h1 class="box-title-large">Appuntamenti</h1>
                </div>
                <div class="box-body">
                    <p style="text-align:justify">
                        <h2>Si avvisa che, a causa dell'emergenza sanitaria dovuta al Covid-19, sarà possibile accedere allo sportello solo previo appuntamento.</h2>
                        <br />
                        <strong>Oggetto</strong>: Informativa ai sensi dell’art. 13 del D. Lgs. 196/2003 e dell’articolo 13 del Regolamento UE n. 2016/679.
                    </p>
                    <br />
                    <p class="section-medium">
                            <a href="https://agenda.publiparking.net/" class="btn btn-warning" target="_blank"><span style="color:#FFF!important"><i class="fas fa-calendar-alt" style="color:#FFF"></i> Prenota appuntamento</span></a>
                    </p>
                   
                </div>
            </div>
        </div>

    </div>
</div>

