<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--Note: When the Entities.edmx file is located under the Model folder, the resources are automatically called Model.Entities-->
		<add name="Entities" connectionString="metadata=res://*/Model.Entities.csdl|res://*/Model.Entities.ssdl|res://*/Model.Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=EdmxDotNetCoreSample.MyContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" >
			<remove name="UrlRoutingModule"/>
		</modules>
	</system.webServer>
	<location path="images">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="img">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="fonts">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="css">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="js">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="lib">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="slick">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>