@model Publiparking.Web.Models.InfoMailViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Contatti";
    ViewBag.Title = "Contatti";
}


<div id="main" class="container-fluid body-content box-min-height" style="margin-top:16px">
    @*<div class="row">*@

    <row>
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="box-border-min box-default">
                <div class="box-header with-border" style="margin-left: -95px;">
                    <h1 class="box-title-large" style="text-align:left">Contatti</h1>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </row>


    <br />

    <br /><br />
    <div class="col-xs-12 col-md-12">
        @*<div class="divider div-transparent div-arrow-down" style="margin-top:15px !important;"></div>*@

        <div class="row">

            <div class="col-md-5">
                <div class="box-body">

                    <p class="section-medium">
                        <i class="fas fa-map-marker-alt" style="color:#f38b00; padding-right:5px"></i>Sede Legale P.zza Caparanica, 97 - 00100 Roma<br />
                        <i class="fas fa-map-marker-alt" style="color:#f38b00; padding-right:5px"></i>Sede Operativa: C.so Giannone, 48 - 81100 Caserta<br />
                        <i class="fas fa-phone-square-alt" style="color:#f38b00; padding-right:5px"></i>0823-319319<br />
                        <i class="fas fa-phone-square-alt" style="color:#f38b00; padding-right:5px"></i>0823-355817<br />
                        <i class="fas fa-envelope-square" style="color:#f38b00; padding-right:5px"></i><a href="mailto:info@publiparking.it">info@publiparking.it</a><br />
                        <i class="fas fa-envelope-square" style="color:#f38b00; padding-right:5px"></i><a href="mailto:publiparking@pec.it">publiparking@pec</a>
                    </p>
                </div>


            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-5">
                <div class="box-body">
                    <p class="section-medium">
                        Per tutte le esigenze è attivo il numero verde a chiamata gratuita.<br />
                        <img src="~/Images/Park/numero-verde-2.jpg" style="width:60%" />
                    </p>
                </div>


            </div>

        </div>
    </div>
    <div style="height:350px"></div>
</div>


