@{
    ViewData["Title"] = "Esperienza";
    ViewBag.Title = "Esperienza";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    .stripe {
        background-image: url('/Images/stripes_10_b.png' );
    }
</style>
<div class="row box-min-height">
    <div class="col-xs-12 col-md-12">
        <div class="box-header-gray">
            <h1 class="box-title-home">
                <span class="text-black">
                    <strong>PUBLIPARKING</strong> ha consolidato un’elevata esperienza nel settore della mobilità.
                    Questi sono i nostri numeri.
                </span>
            </h1>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-md-3 stripe">
                <div class="form-group">
                    <center>
                        <i class="fas fa-star" style="color: #007cba; font-size:42px"></i>
                    </center>
                </div>
                <div class="form-group">
                    <center>
                        <h2><span style="font-size:50px"><strong>9</strong></span>mila</h2>
                    </center>
                    <p style="text-align:center;font-size: 17px;">
                        Gestione di stalli a raso su aree pubbliche
                    </p>
                </div>
            </div>
            <div class="col-md-3 stripe">
                <div class="form-group">
                    <center>
                        <i class="fas fa-star" style="color: #007cba; font-size:42px"></i>
                    </center>
                </div>
                <div class="form-group">
                    <center>
                        <h2><span style="font-size:50px"><strong>400</strong></span>posti</h2>
                    </center>
                    <p style="text-align:center;font-size: 17px;">
                        Gestione di parcheggi in struttura multipiano
                    </p>
                </div>
            </div>
            <div class="col-md-3 stripe">
                <div class="form-group">
                    <center>
                        <i class="fas fa-star" style="color: #007cba; font-size:42px"></i>
                    </center>
                </div>
                <div class="form-group">
                    <center>
                        <h2><span style="font-size:50px"><strong>5</strong></span>milioni</h2>
                    </center>
                    <p style="text-align:center;font-size: 17px;">
                        Gestione transazioni di Pagamento
                    </p>
                </div>
            </div>

            <div class="col-md-3 stripe">
                <div class="form-group">
                    <center>
                        <i class="fas fa-star" style="color: #007cba; font-size:42px"></i>
                    </center>
                </div>
                <div class="form-group">
                    <center>
                        <h2><span style="font-size:50px"><strong>80</strong></span>mila</h2>
                    </center>
                    <p style="text-align:center;font-size: 17px;">
                        Accertamenti al Codice della Strada
                    </p>
                </div>
            </div>
        </div>
        <br /><br /><br />
        <div class="row">
            <p style="text-align: left; font-size: 20px;">
                <i class="fas fa-star" style="font-size:25px"></i> Manutenzione apparati per il pagamento della Sosta<br />
                <i class="fas fa-star" style="font-size:25px"></i> Fornitura e manutenzione segnaletica stradale orizzontale e verticale<br />
                <i class="fas fa-star" style="font-size:25px"></i> Gestione e riscossione della tariffa per l’accesso alle Zone a Traffico Limitato per Autobus
            </p>
        </div>
    </div>
</div>

