<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
  <appSettings>
    <add key="minIntervalloEsecuzione" value="1" />
    <add key="dbServer" value="10.2.1.110" />
    <add key="dbName" value="db_generale_unico110" />
    <add key="dbUserName" value="sa" />
    <add key="dbPassWord" value="rantxal+PfoghmwmeH9t6g==" />
    <add key="minutiScadenzaMessaggioOut" value="10" />
    <add key="idModem" value="889" />
    <add key="invioSMSAbbonamentoinscadenza" value="true" />
  </appSettings>
  <!--<appSettings>
    <add key="minIntervalloEsecuzione" value="1" />
    <add key="dbServer" value="10.1.1.110" />
    <add key="dbName" value="db_generale_sviluppo" />
    <add key="dbUserName" value="sa" />
    <add key="dbPassWord" value="jpF/0DwDkWTxY6P8CayRxg==" />
    <add key="minutiScadenzaMessaggioOut" value="10" />
    <add key="idModem" value="889" />
    <add key="invioSMSAbbonamentoinscadenza" value="true" />
  </appSettings>-->
</configuration>