<?xml version="1.0" encoding="utf-8"?>

<!--
  Per altre informazioni su come configurare l'applicazione ASP.NET, vedere
 https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.6.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <!--<appSettings>
    <add key="dbServer" value="10.1.1.110" />
    <add key="dbName" value="db_park_andria" />
    <add key="dbUserName" value="sa" />
    <add key="dbPassWord" value="jpF/0DwDkWTxY6P8CayRxg==" />    
    <add key="netDrive" value="P" />
    <add key="netUser" value="administrator@publiservizi" />
    <add key="netPassword" value="U1d2t3q4" />
    <add key="DBUserName" value="sa" />    
    <add key="primaSerie" value="A" />
    <add key="netPath" value="\\10.1.1.182\immagini\publiservizi\img\parking" />
    <add key="idParcometroOperatori" value="999" />
    <add key="numeroSMS" value="328124578" />
    <add key="DBPassword" value="K8j7h6g5" />
    <add key="netSubPath" value="52" />
    <add key="minutiTolleranzaVerbale" value="1" />
    <add key="DBServer" value="10.2.1.106" />
  </appSettings>-->
  <appSettings>
    <add key="dbServer" value="10.2.1.110" />
    <add key="dbName" value="db_park_sgc" />
    <add key="dbUserName" value="sa" />
    <add key="dbPassWord" value="rantxal+PfoghmwmeH9t6g==" />
    <add key="netDrive" value="P" />
    <add key="netUser" value="administrator@publiservizi" />
    <add key="netPassword" value="U1d2t3q4" />
    <add key="primaSerie" value="A" />
    <add key="netPath" value="\\10.1.1.182\immagini\publiservizi\img\parking" />
    <add key="idParcometroOperatori" value="999" />
    <add key="numeroSMS" value="328124578" />
    <add key="netSubPath" value="202" />
    <add key="minutiTolleranzaVerbale" value="10" />
  </appSettings>
</configuration>
