<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="db_sviluppo_park_conn" connectionString="metadata=res://*/DbParkCtx.csdl|res://*/DbParkCtx.ssdl|res://*/DbParkCtx.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.1.110;initial catalog=db_sviluppo_park;user id=sa;password=Admin1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DbParkCtx" connectionString="metadata=res://*/DbParkCtxModel.csdl|res://*/DbParkCtxModel.ssdl|res://*/DbParkCtxModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.1.110;initial catalog=db_sviluppo_park;user id=sa;password=Admin1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>