@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Publiparking.Web.Models.ViewModel.AbbonamentiPeriodiciViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="header-form-blue">
            <h2>Aggiungi Abbonamento periodico</h2>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="IdAbbonamentoPeriodico" type="hidden" class="form-control" />
                <div class="form-group">
                    <label asp-for="codice" class="control-label"></label>
                    <input asp-for="codice" class="form-control" />
                    <span asp-validation-for="codice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="targa" class="control-label"></label>
                    <input asp-for="targa" class="form-control" />
                    <span asp-validation-for="targa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="idTariffaAbbonamento" class="control-label"></label>
                    <select asp-for="idTariffaAbbonamento"
                            class="form-control"
                            asp-items="@(new SelectList(Model.TariffeAbbonamenti,"idTariffaAbbonamento", "descrizione"))">
                    </select>
                    <span asp-validation-for="idTariffaAbbonamento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="validoDal" class="control-label"></label>
                    <input asp-for="validoDal" class="form-control" />
                    <span asp-validation-for="validoDal" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="validoAl" class="control-label"></label>
                    <input asp-for="validoAl" class="form-control" />
                    <span asp-validation-for="validoAl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="cognome" class="control-label"></label>
                    <input asp-for="cognome" class="form-control" />
                    <span asp-validation-for="cognome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="nome" class="control-label"></label>
                    <input asp-for="nome" class="form-control" />
                    <span asp-validation-for="nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="telefono" class="control-label"></label>
                    <input asp-for="telefono" class="form-control" />
                    <span asp-validation-for="telefono" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="email" class="control-label"></label>
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Edit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Ritorna all'elenco</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

